nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: skyblue;
  }
  
  nav ul li{
    display: inline-block;
    list-style: 10px;
    margin: 10px 30px;
    
  
  }
  
  nav ul li a{
    text-decoration: none;
    color: white;
    
    
  
  }
  
  nav ul li a:hover{
   text-shadow: black;
  
  } 

  .gallery{
    text-align: center;
    background: palevioletred;
    padding: 40px;